//colors
$black-12: rgba(0, 0, 0, 0.12);
$black-screen: rgba(0, 0, 0, 0.57);

$sj-green: #00aa87;
$sj-dark-green: #00816c;
$sj-darker-green: #00826c;

$sj-black: rgba(0, 0, 0, 0.37);
$sj-dark-black: rgba(0, 0, 0, 0.47);
$sj-darker-black: rgba(0, 0, 0, 0.77);